process_data.json
output.pdf
28_07_2023_20_53.pdf
nao_programacao/mockups/mockups.bmpr
01_08_2023_19_50.pdf
01_08_2023_20_14.pdf
01_08_2023_20_21.pdf
gtk_implementation/__pycache__/data_analysis.cpython-310.pyc
nao_programacao/mockups/mockups.bmpr
