window {
    background-color: #D8DEE9;
    color: #2E3440;
}

entry {
    background-color: #D8DEE9;
    color: #2E3440;
    border-radius: 10px;
}

#headerBar {
    background-color: #2E3440;
    color: #D8DEE9;
    font-size: 16px;
}

button:hover {
    background-color: #5E81AC;

}

button:active {
    background-color: #5E81AC;
}


#btnStart {
    background-color: #2E3440;
    color: #D8DEE9;
}


#btnStart:hover,
#btnStart:active {
    background-color: #5E81AC;
    color: #D8DEE9;
    border-color: #2E3440;
}


#btnAbout {
    background-color: #2E3440;
}


#btnAbout:hover {
    background-color: #5E81AC;
}


calendar {
    background-color: #D8DEE9;
    color: #2E3440;
}


textview text {
    background-color: #D8DEE9;
    color: #2E3440;
}


#entry_hours,
#entry_minutes,
#entry_seconds {
    font-size: 40px;
}


/*menu about*/
#about_dialog {
    background-color: #D8DEE9;
    color: #2E3440;
    padding: 5px 10px;
}


#about_dialog button {
    background-color: #2E3440;
}


#about_dialog button:hover {
    background-color: #5E81AC;
}


/*notas*/
#notes_window,
#toolbar_notes {
    background-color: #2E3440;
}


/*AboutDialog from notes.py*/
#dialog {
    background-color: #D8DEE9;
    color: #2E3440;
}

/*notes_start*/
#textviewTitulo,
#textviewHora {
    font-size: 16px;
}

/*para o monitor de processos*/
#listbox {
    background-color: #D8DEE9;
    color: #2E3440;
    font-size: 16px;
    font-family: monospace;
    border: 1px solid #2E3440;
}

/*o botao de notes_start.pt*/
#btnAddNote {
    background-color: #D8DEE9;
    color: #2E3440;
}


/*labels de workscreen.py*/
.label_workscreen {

    font-size: 16px;
    margin: 5px;
    font-family: monospace;
}

/*trello_start.py*/
#btnLink {
    background-color: #D8DEE9;
    font-size: 20px;
    font-family: monospace;
    text-decoration: none;
}